<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="static/assets/css/500.css">
</head>

<body class="bg-purple">


    <div id="error">
        <div id="box"></div>
        <h3>Error</h3>
        <p>Video is <span>Unavailable</span></p>
        <p>Try to refresh or check your link again.</p><br>
    </div>
    


</body>

</html>